<p><strong>The grid : </strong><%= @letters %></p>
<p><strong>Your attempt : </strong><%= @attempt %></p>
<p><strong>Your score : </strong><%= @score %></p>
<p><%= @result %></p>
<%= link_to "Try another game", "/new" %>